body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#todo-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.todo-input{
    padding: 10px;
    width: 40vw;
}

.add-btn{
    padding: 10px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(26, 252, 26);
    border: 1px green solid;
    border-radius: 10px;

}

#todo-list{
    list-style-type: none;
}